/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.filmscontainer{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.desc{
    display:inline;
}
.titlecontainer{
    display:inline;
    top:50%;
    margin-bottom:40px;

}
.shortfilms{
    display: inline;
}
.big{
    padding-right:10px;
    width:100%;
}
iframe {
    display:block;
    width:100%;
    margin-top:-35px;
    margin-bottom:-35px;
}
.linkinfo{
    margin-bottom:20px;
}
.headercontainer1{
    flex:1;
    padding: 0;
    margin: 0;
    color: #555; 
    float:left;
    padding-right: 20px;
}
.header1{
    color: black;
    display:inline-block;
    margin-bottom:3px;
    margin-top:20px;
}
#margin{
    padding-bottom:200px;
}
#inthemiddledesc{
    color:#282828;
    font-weight: 400;
}
.moreinfo{
    color: #181818;
    font-weight: 600;
}
.headercontainer2{
    flex:1;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    color: #555; 
}
.header2{
    color: black;
    display:inline-block;
    margin-top:20px;
    margin-bottom:3px;
}

.logo2.active{
    display:block;
}

.filmsmargins{
    width:70%;
    margin:auto;
}
/* header*/
.logo2{
    display:none;
    width:200px;
    top:15px;
    position:absolute;
    
}

.centerlogo{
    height: 100vh;
    position: relative;
}
.robbody{
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }
    .robbody{
        width:40%;
        position: absolute;
        top: 30%;
        left: 30%;
    }
    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: #FFF5EE;
    background-image: linear-gradient(135deg, #FFF5EE 0%, #FFFFF0 100%);
}